# https://wiki.archlinux.org/index.php/systemd
# sudo systemctl enable smarttrafficmeter

[Unit]
Description=Smart Traffic Meter Daemon
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/bin/smarttrafficmeter --daemon
PIDFile=/var/run/smarttrafficmeter.pid
ExecStopPost=/usr/bin/rm -f /var/run/smarttrafficmeter.pid
TimeoutSec=20
Restart=always
RestartSec=1800

[Install]
WantedBy=multi-user.target
