# https://wiki.archlinux.org/index.php/systemd
# sudo systemctl enable stm

[Unit]
Description=Smart Traffic Meter Daemon
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/opt/smarttrafficmeter/smarttrafficmeter --daemon
PIDFile=/opt/smarttrafficmeter/stm.pid
ExecStopPost=/usr/bin/rm -f /opt/smarttrafficmeter/stm.pid
TimeoutSec=5
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
